// Fuentes
$fuente_principal: 'Montserrat', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$tablet2: 950px;
$desktop: 1024px;

// Colores
$azulTenue: #1F386E;
$rojo: #E43241;
$blancoTenue: #00000017;
$negro2: #373737;

$negro: #000000;
$amarillo: #E08709;;
$verde: #71B100;
$blanco: #FFFFFF;
$grisClaro: #F6F6F6;
$grisOscuro: #333333;
$rojo: rgba(189,7,7);

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900