@use "base/variables" as v;
@use "base/mixins" as m;

.Residences{
	padding: 10rem 0;
	&-contenedor {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 3rem;
	}
	&__title{
		font-size: 3rem;
		position: relative;
		padding: 1rem 0;
		font-weight: bold;
		color: v.$negro2;
		border-bottom: 1px solid v.$blancoTenue;
		flex: 100%;
		margin-bottom: 5rem;
		&:before{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			border: 2px solid v.$rojo;
			width: 60px;
		}
	}
	&-card{
		box-shadow: 3px 3px 10px #cccccc8c;
		border-radius: 10px;
		flex: 30%;
		overflow: hidden;
		& picture {
			border-radius: 10px 10px 0 0;
			transition: .3s transform ease-in-out;
			& img{
				max-height: 300px;
				object-fit: cover;
			}
		}
		&:hover > picture {
			transform: scale(1.05);
		}

		&__details{
			padding: 2rem 2.5rem;
			background-color: #FFF;
			border-radius: 0 0 10px 10px;
			&-location{
			    display: flex;
			    align-items: center;
			    font-size: 1.6rem;
			    & img {
			    	max-width: 25px;
			    }
			}
			&-middle{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 1.5rem 0;

				//Mobile
				/*@include m.my-mq(1070px){
					justify-content: flex-start;
					column-gap: 2rem;
				}*/
				& p > img{	margin-right: 1rem;}
			}
			&-bottom{
				display: flex;
				justify-content: space-between;
				align-items: center;
				& p {
					font-size: 2.2rem;
					font-weight: bold;
				}
				& a {
					background-color: v.$azulTenue;
					padding: 1rem 2rem;
					color: v.$blanco;
					border-radius: 8px;
					flex: .6;
					text-align: center;
					transition: .5s all ease-in-out;
					&:hover{
						background-color: v.$rojo;
					}
				}
			}
		}

		//Mobile
		@include m.my-mq(1070px){
			flex: 40%;
		}

		@include m.my-mq(700px){
			flex: 100%;
		}
	}

	&-btnContainer{
		display: flex;
		justify-content: center;
		margin-top: 3rem;
		width: 100%;
	}
}

.contenedor-md{max-width: 90rem;}
.mt-residence{margin-top: 5rem;}
.residence-image{margin: 3rem 0;}
.locat-it img{margin-right: 1rem;}
.information-propiedad{	display: flex;column-gap: 2rem;}
.descripcion-propiedad{
	font-size: 1.7rem;
	line-height: 2.5rem;
	margin: 3rem 0;
}
.precio-habitacion{
	font-size: 2rem;
	color: v.$azulTenue;
}
.creado{font-size: 1.5rem;font-style: italic;}