@use "base/variables" as v;
@use "base/mixins" as m;

.top-user-interaction{
	background-color: v.$azulTenue;
	padding: .6rem 0;
	&__contenedor{
		display: flex;
		justify-content: flex-end;
		& > div{
			display: flex;
			column-gap: 2.5rem;
		}
	}
	&__link{
		color: v.$blanco;
		font-size: 1.5rem;
		&:hover{ text-decoration: underline;}
		&-text{
			margin-left: .3rem;
		}
	}
}