@use "base/variables" as v;
.alerta{
	padding: .5rem;
	text-align: center;
	font-weight: bold;
	margin:1rem 0;
	text-transform: uppercase;
	color: v.$blanco;
	font-size: 1.6rem;
	&.error{
		background-color: v.$rojo;
	}
	&.exito{
		background-color: v.$verde;
	}
}

table.propiedades{
	margin-top: 4rem;
	width: 100%;
	border-spacing: 0;

	thead{
		background-color: v.$azulTenue;

		th{
			color: v.$blanco;
			padding: 2rem;
		}
	}

	.imagen-tabla{
		width: 10rem;
	}
}